:root {
    --pane-padding: 5px 42px;
    --font-family: serif;
    --line-height: 1.5;
  }
/* Navbar */
.myNav {
    padding: 20px;
    font-family: var(--font-family)
}
/* Home */
.container-home {
    position: relative;
    font-family: 'Lobster', cursive;
}
.container-home h1 {
    position: absolute;
    left: 40%;
    top: 40%;
}
.container-home h4 {
    position: absolute;
    left: 40%;
    top: 50%;
}
/* About */
.about {
    font-family: var(--font-family);
    height: 45rem !important;
    padding-top: 20px;
}
.photo {
    background-image: url('./img/photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem !important;
    border-radius: 25px;
    text-indent:-9999px;
}
.card-body {
    height: 30rem !important;
}

/* Portfolio */
.container-portfolio {
    font-family: var(--font-family);
    display: inline-block;
}
.card-title-p {
    font-family: 'Lobster', cursive !important;
}

/* Skills */
.card {
}
.skills {
    justify-content: center;
    display: inline-flex;

    padding: 30px;
}

/* Contact */
.contact-head {
    font-family: 'Lobster', cursive;
}
.contact-cont {
    
}
#msg {
    resize:both;
    overflow:auto;
    min-height: 100px;
    width: 80%;
    margin-top: 10px; 
}
/* Footer */
.footer {
    bottom: 0 !important;
    background-color : rgb(44, 42, 38);
    font-family: var(--font-family);
    color: white;
    padding-top: 20px !important;
}
.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
}
/* Project Photos */
.project1 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-image: url('./img/project1.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
    vertical-align: baseline;
}
.project2 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    background-image: url('./img/project2.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
}
.project3 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    background-image: url('./img/project3.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
}
.project4 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    background-image: url('./img/project4.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
}
.project5 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    background-image: url('./img/project5.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
}
.project6 {
    width: 350px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    background-image: url('./img/project6.png');
    border : 1px solid black;
    box-shadow:  -1em 0 .6em rgb(167, 157, 157);
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
@media screen and (min-width: 900px) {
    container-portfolio {
      padding-top: 1rem 3rem;
    }
  }