:root {
    --pane-padding: 5px 42px;
    --font-family: serif;
    --line-height: 1.5;
  }
/* Navbar */
.myNav {
    padding: 20px;
    font-family: var(--font-family)
}
/* Home */
/* About */
.about {
    font-family: var(--font-family);
    height: 100px imp !important
 
}
.photo{
    background-image: url('./img/photo.png');
}
/* Portfolio */
.portfolio-card{
    height:200px;
    border:1px solid  black;
}
/*.portfolio-card class icindeki hepsine aynisini uygulama class a gerek yok boylece */
.portfolio-card > img{
    width: 90%;
    display:block;
    margin:10px auto;
}
/* Contact */
/* Footer */
.footer {
    bottom: 0 !important;
    background-color : rgb(207, 188, 152);
    font-family: var(--font-family);
}

.footer-body {
    text-align: center !important;
  }