:root {
    --pane-padding: 5px 42px;
    --font-family: serif;
    --line-height: 1.5;
  }
/* Navbar */
.myNav {
    padding: 20px;
    font-family: var(--font-family)
}
/* Home */
/* About */
.about {
    font-family: var(--font-family);
    height: 45rem !important;
    padding-top: 20px;
}
.photo {
    background-image: url('./img/photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem !important;
    border-radius: 25px;
}
.card-body {
    height: 30rem !important;
}
.card-about{

}

/* Portfolio */
.p-card{
    border:1px solid  black;
}
/* .card-body-portfolio {
    display: flex;
    justify-content: space-between;

} */
/*.portfolio-card class icindeki hepsine aynisini uygulama class a gerek yok boylece */
/* .p-card > img{
    width: 90%;
    display:block;
    margin:10px auto;
} */

/* Contact */
.contact {
    font-family: var(--font-family);
}
/* Footer */
.footer {
    bottom: 0 !important;
    background-color : rgb(44, 42, 38);
    font-family: var(--font-family);
    color: white;
    padding-top: 20px !important;
}


.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
}
/* Project Photos */
.project1 {
    background-image: url('./img/project1.png');
}
.project2 {
    background-image: url('./img/photo.png');
}
.project3 {
    background-image: url('./img/photo.png'); 
}
.project4 {
    background-image: url('./img/photo.png');    
}
.project5 {
    background-image: url('./img/photo.png');
}
.project6 {
    background-image: url('./img/photo.png');
}
